In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/ods_1_2.csv", error_bad_lines=False)

In [3]:
data.keys()

Index(['id_str', 'from_user', 'text', 'created_at', 'time', 'geo_coordinates',
       'user_lang', 'in_reply_to_user_id_str', 'in_reply_to_screen_name',
       'from_user_id_str', 'in_reply_to_status_id_str', 'source',
       'profile_image_url', 'user_followers_count', 'user_friends_count',
       'user_location', 'status_url', 'entities_str'],
      dtype='object')

In [4]:
data.shape

(18501, 18)

In [5]:
data.time.isnull().sum()

1

In [7]:
data[data['time'].isnull()]

,id_str,from_user,text,created_at,time,geo_coordinates,user_lang,in_reply_to_user_id_str,in_reply_to_screen_name,from_user_id_str,in_reply_to_status_id_str,source,profile_image_url,user_followers_count,user_friends_count,user_location,status_url,entities_str
12352,1137370030553935872,Selphinia,#Helsinki2019: el grito de la #EconomíaCircula...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.time.unique()

array(['27/06/2019 11:31:03', '27/06/2019 11:28:53',
       '27/06/2019 11:28:29', ..., '01/06/2019 14:46:40',
       '01/06/2019 14:46:38', '01/06/2019 14:45:02'], dtype=object)

In [13]:
import datetime
fecha = datetime.datetime.now().strftime('%d/%m/%Y %H:%M:%S')
print(fecha)

20/12/2019 01:36:42

In [14]:
data.time.fillna(fecha, inplace=True) # reemplazar NaN por fecha

In [15]:
data[data['time'].isnull()]

Empty DataFrame
Columns: [id_str, from_user, text, created_at, time, geo_coordinates, user_lang, in_reply_to_user_id_str, in_reply_to_screen_name, from_user_id_str, in_reply_to_status_id_str, source, profile_image_url, user_followers_count, user_friends_count, user_location, status_url, entities_str]
Index: []

In [18]:
data[data['time']=='en']

,id_str,from_user,text,created_at,time,geo_coordinates,user_lang,in_reply_to_user_id_str,in_reply_to_screen_name,from_user_id_str,in_reply_to_status_id_str,source,profile_image_url,user_followers_count,user_friends_count,user_location,status_url,entities_str
12353,https://t.co/kcgJZ4oct3 vía @notgip | #ODS #Fu...,Sat Jun 08 14:45:21 +0000 2019,08/06/2019 15:45:21,NaN,en,NaN,NaN,2.329469e+09,NaN,"<a href=""http://twitter.com/download/android"" ...",http://pbs.twimg.com/profile_images/6500898372...,933.0,322.0,Barcelona & around the World,http://twitter.com/Selphinia/statuses/11373700...,"{""hashtags"":[{""text"":""Helsinki2019"",""indices"":...",NaN,NaN

In [20]:
data.loc[(data.time == 'en'),'time'] = fecha

In [21]:
data[data['time']=='en']

Empty DataFrame
Columns: [id_str, from_user, text, created_at, time, geo_coordinates, user_lang, in_reply_to_user_id_str, in_reply_to_screen_name, from_user_id_str, in_reply_to_status_id_str, source, profile_image_url, user_followers_count, user_friends_count, user_location, status_url, entities_str]
Index: []

In [22]:
data.to_csv("data/ods_1_2_modificado.csv", index=False)